#main {
    margin: 20px;
    padding: 10px;
    padding-right: 0px;
    box-shadow: 0 0 10px lightgrey;
    border-radius: 10px;
    height: 77vh;
    overflow-y: scroll;
    background-color: white;
}
#main:hover {
    box-shadow: 0 0 20px lightgrey;
}
#textbox {
    outline: none;
    font-weight: 600;
    letter-spacing: normal;
    word-wrap: break-word;
    text-overflow: clip;
    line-height: 20px;
    tab-size: 4;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    background-color: white;
}
mark {
    background-color: rgb(114, 83, 237, 0.6);
    color: white;
    border-radius: 5px;
}
#textmenu {
    min-width: 100px;
    box-shadow: 0 0 10px lightgrey;
    position: absolute;
    z-index: 2;
    top: 0;
    background-color: white;
    border-radius: 4px;
    display: none;
    padding: 5px;
    cursor: pointer;
}
#textmenu > span:not(#con-chars) {
    opacity: 0.7;
    padding: 5px;
    display: block;
}
#textmenu > span:not(:first-child) {
    border-top: 2px solid darkgrey;
}
#textmenu > span:hover {
    opacity: 1;
    box-shadow: 0 0 5px lightgrey;
}
#con-chars {
    position: sticky;
    opacity: 1;
}
#con-char-men {
    height: 200px;
    overflow-y: scroll;
    display: inline-block;
}
#con-char-men > span {
    opacity: 0.7;
    padding: 5px;
    display: block;
}
#con-char-men > span:not(:first-child) {
    border-top: 2px solid darkgrey;
}
#con-char-men > span:hover {
    opacity: 1;
    box-shadow: 0 0 5px lightgrey;
}